<div>
    <div style="display: inline-block; width: 50%;">
        <img src={{worker.avatar}} alt="img" width=100px;>
    </div>
    <div style="display: inline-block; width: 50%; ">
        <div style="padding: 2px;">
            <div>Imię: {{worker.name}}</div>
            <div>Nazwisko: {{worker.surname}}</div>
            <div>Zawód:  {{worker.job}}</div>
            <div >
                <button [routerLink]="['/worker', worker.id]" mat-icon-button title="Details"><mat-icon>account_box</mat-icon></button>
                <button mat-icon-button *ngIf="isAdminAuthenticated() == true" (click)='deleteWorker(worker.id)' title="Delete"><mat-icon>delete</mat-icon></button>
            </div>
        </div>
    </div>
</div>