<mat-toolbar>
    <button mat-icon-button routerLink="" title="Home"><mat-icon>home</mat-icon></button>
</mat-toolbar>
<div *ngIf="!loading">
    <div class="profileView">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image">
                  <img class="small-img" src="{{worker.avatar}}" alt="">
              </div>
              <mat-card-title>{{worker.name}} {{worker.surname}}</mat-card-title>
              <mat-card-subtitle>{{worker.job}}</mat-card-subtitle>
            </mat-card-header>
                <img class="profile-img" mat-card-image src="{{worker.avatar}}" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p><b>Imię:</b> {{worker.name}} </p>
              <p><b>Nazwisko:</b> {{worker.surname}} </p>
              <p><b>Zawód:</b> {{worker.job}} </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button routerLink="/worker">Edit</button>
              <button mat-button>Delete</button>
            </mat-card-actions>
          </mat-card>
    </div>
</div>
<div *ngIf="loading">
    <mat-spinner class="loadingScreen"></mat-spinner>
</div>