<form class="example-form" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
  <div class="container">
    <div style="background-color:rgb(200, 145, 202) ;">
      <p>Username: admin, Password: admin</p>
      <p>Username: user, Password: user</p>
    </div>
    <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

      <mat-card class="box">
        <mat-card-header>
          <mat-card-title>Log in</mat-card-title>
        </mat-card-header>
        <mat-error *ngIf="invalidLogin">Wrong username or password!</mat-error>
        <mat-card-content>
          <mat-form-field for="username" class="example-full-width">
            <input matInput type="text" id="username" name="username" ngModel class="form-control" placeholder="Username" autofocus>
          </mat-form-field>

          <mat-form-field for="password" class="example-full-width">
            <input matInput type="password" id="password" name="password" ngModel class="form-control" placeholder="Password">
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button color="basic" class="btn-block">Log in</button>
      </mat-card>

    </div>
  </div>
</form>