<div>
    <mat-toolbar>
        <button mat-icon-button (click)="showTable()" title="Table view"><mat-icon>view_list</mat-icon></button>
        <button mat-icon-button (click)="showTile()" title="Tile view"><mat-icon>view_module</mat-icon></button>
        │
        <button mat-icon-button routerLink="/add-worker"  title="Add worker"><mat-icon>person_add</mat-icon></button>
    </mat-toolbar>
    <app-table-view [showTableContent]="showTableVar" ></app-table-view>
    <app-tile-view [showTileContent]="showTileVar" ></app-tile-view>
</div>